on:
  push:
    branches: [main, master]
    tags: ['*']
  pull_request:

name: deploy

env:
  RENV_PATHS_ROOT: ~/.local/share/renv

jobs:
  quarto-publish:
    name: Publish with Quarto
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - uses: r-lib/actions/setup-r@v2
        with:
          r-version: 'release'
          http-user-agent: ${{ matrix.config.http-user-agent }}
          use-public-rspm: true

      - name: Install System Deps
        run: |
          sudo apt-get update
          sudo apt-get install -y libfontconfig1-dev
          sudo apt-get install -y libfreetype6-dev
          sudo apt-get install -y libpng-dev 
          sudo apt-get install -y libtiff5-dev
          sudo apt-get install -y libjpeg-dev

      - name: Install Quarto
        uses: quarto-dev/quarto-actions/setup@v2

      - name: Cache packages
        uses: actions/cache@v4
        with:
          path: ${{ env.RENV_PATHS_ROOT }}
          key: ${{ runner.os }}-renv-${{ hashFiles('**/renv.lock') }}
          restore-keys: |
            ${{ runner.os }}-renv-

      - name: Install system dependencies
        if: runner.os == 'Linux'
        run: |
          sudo apt-get update
          sudo apt-get install libcurl4-openssl-dev libharfbuzz-dev libfribidi-dev libv8-dev


      - name: Restore packages
        shell: Rscript {0}
        run: |
          if (!requireNamespace("renv", quietly = TRUE)) install.packages("renv")
          renv::install(c("rmarkdown", "yaml"))
          renv::restore()

      # rendering site
      - name: Render Quarto Project
        if: github.event_name == 'pull_request'
        uses: quarto-dev/quarto-actions/render@v2
        env:
          QUARTO_PROFILE: preview
        with:
          to: html
          
      - name: Render and Publish to GitHub Pages
        if:  github.event_name != 'pull_request'
        uses: quarto-dev/quarto-actions/publish@v2
        with:
          target: gh-pages
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          